<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>AI Infra Learning</title>
  </head>
  <body>
    <input type="text" id="promptInput" placeholder="Use Ollama..." />

    <button type="submit" id="submitBtn">Submit</button>

    <p id="result"></p>

    <script>
      document
        .getElementById("submitBtn")
        .addEventListener("click", function () {
          const promptValue = document.getElementById("promptInput").value;
          const payload = { prompt: promptValue };

          fetch("/spice", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(payload),
          })
            .then(function (res) {
              return res.json();
            })
            .then(function (data) {
              document.getElementById("result").innerText =
                data.response +
                "\n\nTotal Latency: " +
                data.latency +
                " seconds" +
                "\nLoad Time: " +
                data.load_duration +
                " seconds" +
                "\nPrefill Time: " +
                data.prompt_duration +
                " seconds" +
                "\nDecode Time: " +
                data.decode_duration +
                " seconds" +
                "\nInput Tokens: " +
                data.prompt_tokens +
                "\nOutput Tokens: " +
                data.output_tokens;
            });
        });
    </script>
  </body>
</html>
